.container {
  .mainContainer {
    .menuBlock {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;
      .menuCard {
        gap: 5px;
        max-width: 330px;
        height: 270px;
        background: white;
        display: flex;
        flex-direction: column;
        padding: 10px 15px;
        img {
          width: 300px;
          height: 160px;
          object-fit: cover;
        }
        .prBtns {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .orders {
            padding: 6px 25px;
            background: #ddaa27;
            border: none;
            color: white;
            font-size: 20px;
          }
        }
        .btns {
          display: flex;
          align-items: center;
          gap: 4px;
          justify-content: flex-end;
          button {
            background: #ddaa27;
            padding: 1px 20px;
            &:hover {
              color: black;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .container {
    .mainContainer {
      .menuBlock {
        justify-content: center;
        .menuCard {
          max-width: 500px;
          width: 100%;
          gap: 10px;
          height: 330px;
          img {
            width: 100%;
            height: 200px;
          }
        }
      }
    }
  }
}
